<%- include('includes/head')%> <%- include('includes/nav')%>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Contato</h1>
      <p class="text-center lead">Crie ou edite os contatos:</p>
      <%- include('includes/messages')%>
     
      <form action="/contato/register" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="form-group">
          <label>Nome:</label>
          <input
            value="<%= contato.nome%>"
            type="text"
            class="form-control"
            name="nome"
          />
          <label>Sobrenome:</label>
          <input
            type="text"
            class="form-control"
            name="sobrenome"
          />
          <label>E-mail:</label>
          <input
            type="email"
            class="form-control"
            name="email"
          />
          <label>Telefone:</label>
          <input
            type="tel"
            class="form-control"
            name="telefone"
          />
          <br>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<%- include('includes/footer')%>
